.Home {
    margin-top: 100px;
    width: 100%;
}

#black-section {
    background-color: black;
}

#blue-section {
    background-color: blue;
}

.Section {
    height: 100vh;
}

.SectionBody {
    /* margin-top: 100px; */
    height: 80%;
}