.Home {
    margin-top: 100px;
    width: 100%;
    overflow: hidden;
}

#black-section {
    background-color: black;
}

#blue-section {
    background-color: blue;
}

.Section {
    height: 100vh;
}

.SectionBody {
    height: 80vh;
    margin: 0% 10% 0% 10%;
}

.SectionBody > h1 {
    font-size: 80px;
    font-family: 'Helvetica', sans-serif;
}

.SectionTitle {
    margin-top: 150px;
}