@font-face {
    font-family: 'Temeraire-italienneitalic';
    src:  url('../fonts/font.woff2') format('woff2'),
          url('../fonts/font.woff') format('woff');
}
.Nav {
    background-color: transparent;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.Nav-link {
    float: right;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Temeraire-italienneitalic';
    font-weight: 400;
    font-style: normal;
}

.Nav-link:hover {
    text-transform: uppercase;
}

#home-icon.Nav-link {
    padding-top: 2px;
    float: left;
    font-size: 25px;
}

button:focus,
button:active,
button:focus {
    outline: none;
    box-shadow: none;
}

.Nav-drop-down {
    float: right;
}

.Nav-drop-down.isActive {
    border: 2px solid black;
}

@keyframes growDown {
    0% {
      transform: scaleY(0)
    }
    80% {
      transform: scaleY(1.1)
    }
    100% {
      transform: scaleY(1)
    }
}

.menu {
    margin-top: 50px;
}

.menu.active {
    animation: growDown 400ms ease-in-out forwards;
    transform-origin: center;
}

.menu.hidden {
    animation: growDown 300ms ease-in-out backwards;
    display: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
  }